# Contents of this file are also in `.prettierignore`

# Folders
.idea/
.@vscode/test-electron/
.vscode-test/
node_modules
out

# Files
.vscode/settings.json
language/*.tmLanguage.json
*.exe
*.log
*.txt
*.vsix
