# Contents of this file are also in `.prettierignore`

# Folders
.idea/
.@vscode/test-electron/
.vscode-test/
dist
node_modules
out

# Common files
.vscode/settings.json
language/*.tmLanguage.json
*.exe
*.vsix

# Misc
*.log
*.txt
*.zip
