# ahk2 - Format when working directly with that submodule
ahk2

# Folders
.idea/
.@vscode/test-electron/
.vscode-test/
dist
node_modules
out

# Files
.vscode/settings.json
language/*.tmLanguage.json
*.exe
*.log
*.txt
*.vsix

