# Files to be excluded from the built package
.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/
demos/
images/**
node_modules/
.gitignore
tsconfig.json
.eslintrc
build.js
.github/
tsconfig.json